* {
	box-sizing:border-box; 
}

html {
	/*background: url("background.jpg") no-repeat center center fixed;*/
	font-family: 'Gruppo', cursive;
	-webkit-animation: fadein 2s;
	color: white;
}

body {
	padding: 0;
	margin: 0;
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.dropdown-cloud {
	width: 25px;
	height: 20px;
	margin: 9px 50px 0px 0px;
	float: right;
	display: none;

}

.delete-button {
	color: white;
	font-size: 10px;
	font-family: 'Gruppo', cursive;
	border-radius: 2px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	background: #176D81;
	opacity: 0.75;
	height: 36px;
	width: 56px;
	margin: auto;
	text-decoration: none;
	border: none;
	display: block;
	outline: none;
	z-index: 900;

}

.logout-button {
	color: white;
	font-size: 10px;
	font-family: 'Gruppo', cursive;
	border-radius: 2px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	background: #176D81;
	opacity: 0.75;
	height: 24px;
	width: 56px;
	margin: auto;
	text-decoration: none;
	border: none;
	display: block;
	outline: none;
	z-index: 900;
}

.logout-button:hover {
	opacity: 1.0;

}

.delete-button:hover {
	opacity: 1.0;
}

.logout-button-text {
	color: white;
	text-decoration: none;
}

.delete-button-text:hover {
	color: white;
}

.logout-button-text:hover {
	color: white;
}

.delete-button-text {
	color: white;
	text-decoration: none;

}

.save-controls-button {
	color: white;
	font-size: 14px;
	font-family: 'Gruppo', cursive;
	border-radius: 2px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	background: #176D81;
	opacity: 0.75;
	height: 24px;
	width: 56px;
	margin: auto;
	text-decoration: none;
	border: none;
	display: block;
	outline: none;
	z-index: 900;
}

.save-controls-button:hover {
	opacity: 1.0;

}

.save-controls-button-text {
	color: white;
	text-decoration: none;
}

.save-controls-button-text:hover {
	color: white;
}

#forecast {
	font-size: 20px;
	color: white;
}
.empty-about-space {
	height: 100px;
	width: 100%;
}
.about-heading {
	font-family: 'Londrina Outline', cursive;
	margin-top: 0;
	font-size: 48px;
}

.about-content {
	font-size: 20px;
	width: 67%;
	color: white;
	margin: auto;
}

.landing-view {
		background: url("background.jpg") no-repeat center center fixed;
		height: 782px;
		width: 100%;
}

.about-view {
	background: #71ADB5;
	height: 782px;
	width: 100%;
	color: #0D3446;
	text-align: center;
	margin: auto;
}

.horizontal-line-about {

	display: inline-block;
    height: 1px;
    width: 38%;
    text-align: center;
    border: 0;
    border-top: 1px solid #176D81;
    margin: 16px 0;
    padding: 0;
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


.hidden {
	display: none !important;

}
.empty-login-space {
	height: 180px;
	width: 100%;
}
.empty-register-space {
	height: 180px;
	width: 100%;
}
.profile-view {
	background: #176D81;
	height: 782px;
}
.login-view {
	height: 782px;
	width: 100%;
	background: #0D3446;
}

.register-view {
	height: 782px;
	width: 100%;
	background: #0D3446;

}
.login-container {

	text-align: center;
	display: block;
	height: 50%;
	width: 360px;
	z-index: 900;
	margin: auto;
	border-radius: 2px;
	/*border: 1.5px solid #71ADB5;*/
	box-sizing: border-box;
}

.register-container {
	text-align: center;
	display: block;
	height: 50%;
	width: 360px;
	z-index: 900;
	margin: auto;
	border-radius: 2px;
	/*border: 1.5px solid #71ADB5;*/
	box-sizing: border-box;

}

 .register-overlay {
 	position: relative;
	width: 360px;
	height: 50%;
	margin: auto;
	border-radius: 2px;
	padding: 0px;
	box-sizing: border-box;
	display: block;
	/*background-color: rgba(0, 0, 0, 0.75);*/
 }

 .register-overlay::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	/*background-size: 100vw 100vh;*/
	width: 360px;
	height: 100%;
	background-position: center center;
	background-attachment: fixed;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	filter: blur(50px);
	display: block;
	box-sizing: border-box;
	z-index: -1;
	border-radius: 2px;

}

.login-overlay {
	position: relative;
	width: 360px;
	height: 50%;
	margin: auto;
	border-radius: 2px;
	padding: 0px;
	box-sizing: border-box;
	display: block;
}

.login-overlay::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	/*background-size: 100vw 100vh;*/
	width: 360px;
	height: 100%;
	background-position: center center;
	background-attachment: fixed;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	filter: blur(50px);
	display: block;
	box-sizing: border-box;
	z-index: -1;
	border-radius: 2px;
}

.tempClass, .conditionsClass {

	color: white;
	font-size: 20px;
	font-style: italic;

}

.type {
   
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: type 1.5s steps(200, end); 
}

@keyframes type{ 
  from { width: 0; } 
  to {width: 100%;}
} 

.type2 {

  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: type 1s steps(200, end); 
}

@keyframes type2{ 
  from { width: 0; } 
  to {width: 100%;}
} 


.cloud-image {

	width: 130px;
	height: 110px;
	margin: 33px auto 0 auto;
	display: block;
	opacity: 0.5;
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateIn {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.testimonial1-inline {
	display: inline;
}

.testimonial1 {
	
	margin: 20px 0 0 140px;
}


.testimonial2 {

	text-align: right;
	margin: -110px 140px 0 20px;
}

.testimonial1, .testimonial2 {

	font-size: 24px;
	padding-bottom: 5px;
}
.login-logo {

	font-size: 36px;
	font-family: 'Londrina Outline', cursive;
	margin: auto;
	color: white;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 24px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	z-index: 900;
	font-weight: normal;
}

.heading {
	font-family: 'Londrina Outline', cursive;
	font-size: 140px;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 5px;
	text-shadow: 1.25px 1.25px 1.25px rgba(0, 0, 0, 0.75);
	z-index: 900;
}

.register {

	font-size: 14px;
	margin: auto;
	font-family: 'Gruppo', cursive;
	text-decoration: none;
	color: #0D3446;
	padding-bottom: 10px;
	z-index: 900;
}

.register:hover {

	cursor: pointer;
	cursor: hand;
}

.password-form, .username-form {
	display: inline-block;
	z-index: 900;
}

.username-form {
	padding-right: 8px;
	z-index: 900;
}

.password-input, .username-input {

	color: #176D81;
	font-size: 24px;
	font-family: 'Gruppo', cursive;
	text-align: left;
	padding-left: 4px;
	border-radius: 2px
	margin: auto;
	background: white;
	z-index: 900;
}

.password-input:focus, .username-input:focus {
	outline:0;
	z-index: 900;
}

.login-button {
	color: white;
	font-size: 16px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	font-family: 'Gruppo', cursive;	border-radius: 2px;
	background: #176D81;
	opacity: 0.75;
	box-sizing: border-box;
	margin-left: 8px;
	height: 50px;
	width: 90px;
	margin-bottom: 8px;
	text-decoration: none;
	border: none;
	outline: none;
	z-index: 900;
}

.login-button:hover {
	opacity: 1.0;

}
/*
.login-button:focus {
	outline:0;

}
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D8DFE2;
	opacity: 0.9;

}

.location-input::-moz-placeholder { /* Firefox 19+ */
	color: white;
	opacity: 0.33;
	text-align: center;
	display: inline-block;


}

:-ms-input-placeholder { /* IE 10+ */
	color: #D8DFE2;
	opacity: 0.9;

}

.form-group { 
	position:relative; 
	margin-bottom:45px; 
	margin-left: auto;
	margin-right: auto;
	width: 300px;

}

.login-form, .register-form {
	
	display: block;
	text-align: center;
	margin: auto;
	
}

.horizontal-line-subtitle {
	margin-top: 40px;
	margin-bottom: 10px;
	width: 15%;
	border: 1px solid white;
	display: block;
    height: 1px;
    text-align: center;
    opacity: 0.5;
   
}
.floating-label-input {
	font-size:18px;
	font-family: 'Gruppo', cursive;	
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	color:white;
	border-bottom:1px solid #757575;
	background: transparent;

}

.floating-label-input:focus 		{ outline:none; }

/* LABEL ======================================= */


.floating-label {
	color:white; 
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	font-size:14px;
	font-weight:normal;
	font-family: 'Gruppo', cursive;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;

}

/* active state */
.floating-label-input:focus ~ .floating-label,
.floating-label-input:valid ~ .floating-label 		{
	top:-20px;
	font-size:14px;
	color:white;

}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
	content:"";
	height:1px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#176D81; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;

}

.bar:before {
	left:50%;

}

.bar:after {
	right:50%; 

}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;

}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;

}

/* active state */
.floating-label-input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;

}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }

}

@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }

}

@keyframes inputHighlighter {
	from { background:#5264AE; }
	to 	{ width:0; background:transparent; }

}

h1 {
	font-weight: normal;
	margin-bottom: 0px;

}

.profile-view {
	text-align: center;
	margin: auto;
	display: block;
}

.profile-heading-div {
	font-size: 42px;
	box-sizing: border-box;
	display: block;
	color: white;
	font-weight: normal;
	margin-top: 0px;
	font-family: 'Londrina Outline', cursive;
}

.profile-nav {

	height: 40px;

}

.today {
	font-size: 16px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	font-family: 'Gruppo', cursive;
	display: inline-block;
	margin: 0 0 15px 0;
	z-index: 900;
}

.profile-view-content {
	display: flex;
	margin: auto;
	display: inline;

}
@keyframes flickerAnimation {
  0%   { opacity:0; }
  25% { opacity:0.5; }
  50%  { opacity:1; }
  75% { opacity:0.5; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; }
  25% { opacity:0.5; }
  50%  { opacity:1; }
  75% { opacity:0.5; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; }
  25% { opacity:0.5; }
  50%  { opacity:1; }
  75% { opacity:0.5; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  25% { opacity:0.5; }
  50%  { opacity:1; }
  75% { opacity:0.5; }
  100% { opacity:0; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 7s infinite;
   -moz-animation: flickerAnimation 7s infinite;
   -o-animation: flickerAnimation 7s infinite;
    animation: flickerAnimation 7s infinite;
}

.animate-flicker-testimonials {
	-webkit-animation: flickerAnimation 11s infinite;
	-moz-animation: flickerAnimation 11s infinite;
   -o-animation: flickerAnimation 11s infinite;
    animation: flickerAnimation 11s infinite;
}

.sidebar {
	flex-basis: 33.33%;
	float: left;
	width: 140px;
	height: 500px;
	font-family: 'Gruppo', cursive;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 2px;
	z-index: 900;
	background-color: #71ADB5;
	margin-bottom: 20px;
}

.main {
	flex-basis: 66.66%;
	float: right 20%;
	position: relative;
	display: inline-block;
	margin-right: 160px;
}

.forecast-data {
	font-family: 'Gruppo', cursive;
	font-size: 24px;
	height: 370px;
	width: 360px;
	padding-bottom: 40px;
	z-index: 900;
	border-radius: 2px;
}

.temp-conditions {
	font-family: 'Gruppo', cursive;
	font-size: 24px;
}

.forecast-data-overlay {
	position: relative;
	width: 360px;
	height: 370px;
	margin: auto;
	border-radius: 2px;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	background-color: rgba(0, 0, 0, 0.0);

}

.forecast-data-overlay::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	/*background-size: 100vw 100vh;*/
	width: 360px;
	height: 370px;
	background-position: center center;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0);
	filter: blur(50px);
	display: block;
	z-index: -1;
	border-radius: 2px;
}

.waitForIt {
	display: none;
}

.outfit-rec {
	font-family: 'Gruppo', cursive;
	color: white;
	padding-bottom: 30px;
	font-size: 36px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);

}
.forecast-container {

	margin: auto;
	display: inline-block;
	height: 500px;
	box-sizing: border-box;
}
.tomorrow-button {
	color: white;
	font-size: 16px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	font-family: 'Gruppo', cursive;
	border-radius: 2px;
	background: #176D81;
	opacity: 0.75;
	box-sizing: border-box;
	margin-left: 8px;
	height: 50px;
	width: 130px;
	outline: none;
	text-decoration: none;
	border: none;
	margin-top: 10px;
	margin-bottom: 20px;
	z-index: 900;
}

.tomorrow-button:hover {
	opacity: 1.0;

}

.settings-headers {
	text-decoration: none;
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 16px;

}
/*
.sidebar-overlay {
	position: relative;
	width: 140px;
	height: 100%;
	margin: auto;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 70px;
	box-sizing: border-box;
	display: block;
	background-color: rgba(0, 0, 0, 0.75);
	
}

.sidebar-overlay::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("sidebar.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-position: center center;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	filter: blur(15px);
	display: block;
	z-index: -1;

}
*/
.settings-title {

	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
	text-align: center;
	z-index: 900;
	padding-top: 20px;
}

.location-input {
	font-size:16px;
	font-family: 'Gruppo', cursive;
	padding:10px 10px 10px 5px;
	display:block;
	width: 88px;
	height: 100%;
	border: none;
	color: white !important;
	border-bottom:1px solid white;
	background: transparent;
	outline: none;
	margin: auto;
	z-index: 900;
}
/*
.location-input::-moz- { Firefox 19+ 
	font-size: 16px;
	font-family: 'Gruppo', cursive;
	padding:10px 10px 10px 5px;
	display:block;
	width: 88px;
	height: 20px;
	border: none;
	color: white !important;
	border-bottom:1px solid white;
	background: transparent;
	outline: none;
	margin: auto;
	z-index: 900;

}
*/
.my-weatherwear-heading {
	font-family: 'Londrina Outline', cursive;
	margin-bottom: 0px;
	margin-top: 10px;
	z-index: 900;
}

.radio-label-font {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
	color: white;

}

::-webkit-input-placeholder {
	color: white;
	opacity: 0.33;
	text-align: center;
	display: inline-block;
}

button {
	cursor: pointer; cursor: hand;
}

.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	height: 36px;
	color: white;
	background-color: white;
	display: inline-block;
	z-index: 1000;
}
.heading-subtitle {
	margin: 10px auto;
	font-size: 36px;
	padding: 5px 0 0 0;
	text-align: center;
}
.navbar a {
	display: inline-block;
	color: #71ADB5;
	text-decoration: none;
	font-size: 18px;
	text-decoration: none;
	/*margin-top: 20px;
	margin-left: 170px;*/
	margin: 9px 80px 9px 80px;
}

a:hover {
	color: #0D3446;
}

.navspan {
		margin: 9px 200px 9px 150px !important;
}

.dropdown-menu {
	display: none;
	color: #71ADB5;
	float: right;
	text-align: left;
  	background: white;
  	z-index: 1000;
  	height: auto;
  	width: 200px;
  	margin: 4% 0 0 0;

}

.cloud-anchor {
	display: none !important;
}



@media screen and (max-width: 1095px) {
  .testimonial1, .testimonial2 {
  	display: none; 
  }
/*
  .navbar a:not(.navbar:first-child) {
  	display: none;
  }
*/
  .navbar a {
    float: right;
    display: block;
    position: fixed;
  }

  .heading {
  	font-size: 75px;
  }
  .navspan {

  }
.cloud-anchor {
	display: block !important;
	position: fixed;
}
}
/*mouseover and add class*/
@media screen and (max-width: 1095px) {
  .navbar.responsive {
  	position: fixed;
  }

   .dropdown-cloud {
  	 display: block;
  	 position: fixed;
  	 top: 0;
  	 right: 0;
	}

 /* nav img:hover ~ .dropdown-menu {
  	display: block;

  	} 
*/
  nav img:hover {
	cursor: pointer;
	cursor: hand;
	}

  .navbar.responsive a {
    position: absolute;
    right: 0;
    top: 0;
    float: none;
    display: none;
    text-align: left;

	}

}

.figure {

	height: 300px;
	width: 220px;
	margin: 30px;
	box-sizing: border-box;
	z-index: 900;
}

.arrow-up {
	border-color: white transparent;
	border-style: solid;
	border-width: 0px 12px 12px 12px;
	height: 0px;
	width: 0px;
	display: block;
	margin: 0 auto;
	background: transparent;
	outline: none;
	opacity: 0.33;
	box-sizing: border-box;
	z-index: 900;
}

.arrow-up:hover {
	opacity: 1;
}

.arrow-down {
	border-color: white transparent;
	border-style: solid;
	border-width: 12px 12px 0px 12px;
	height: 0px;
	width: 0px;
	display: block;
	margin: 0 auto;
	opacity: 0.33;
	background: transparent;
	outline: none;
	z-index: 900;
}

.arrow-down:hover {
	opacity: 1;
}

#location-input-id {
	margin-bottom: 8px;
}

.location-button {
	color: white;
	font-size: 14px;
	font-family: 'Gruppo', cursive;
	border-radius: 2px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
	background: #176D81;
	opacity: 0.75;
	height: 24px;
	width: 64px;
	margin: auto;
	text-decoration: none;
	border: none;
	display: block;
	outline: none;
	z-index: 900;
}

.location-button:hover {
	opacity: 1.0;
}

.temp-box-class, .style-box-class {
	margin-bottom: 15px;
}

.cloud {
	height: 200px;
	width: 200px;
	position: absolute;
	padding: 10px;
	
}
